.table-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

td {
  background: #f6f6f6;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin: 1px;
  width: 224px;
  height: 43px;
}

.td-worker-name {
  width: 303px;
}

.td-id {
  width: 160px;
  padding-right: 15px;
}

svg {
  width: 40px;
  height: 40px;
}
